
<!--         ABOUT                    -->
<section id="about">

  <div class="container">
<!--     <div class="row"></div> -->
  <div class="bio">
    <%= image_tag 'cassy.jpg', class: "avatar-lg" %>
    <div class="bio-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eos accusantium, voluptates placeat dolore nobis distinctio, ipsam ipsum laudantium consequuntur vero animi suscipit pariatur, perspiciatis maxime amet temporibus omnis doloremque.</p>
    </div>
  </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eos accusantium, voluptates placeat dolore nobis distinctio, ipsam ipsum laudantium consequuntur vero animi suscipit pariatur, perspiciatis maxime amet temporibus omnis doloremque.</p>
    <div class="websiteideas">


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat neque, error officiis repellendus voluptatem nihil velit aperiam harum ab nisi, voluptatibus aliquam fuga architecto adipisci porro consequatur, sint. Alias, pariatur.</p>
  </div>
  <div class="skills">

  </div>

    <div class="container">
    <div class="col-xs-6 col-sm-3">

        <div class="hexagon"><span></span></div>
        <h5>Responsive</h5>
        <p>My layouts work on any size device</p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">

        <div class="hexagon"><span></span></div>
        <h5>Dynamic</h5>
        <p>Let's make the web come to life!</p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">

        <div class="hexagon"><span></span></div>
        <h5>Intuitive</h5>
        <p>I focus on clean, easy-to-use formats</p>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">

        <div class="hexagon"><span></span></div>
        <h5>Optimized</h5>
        <p>SEO is king. Youre business deserves to be seen. </p>
      </div>
    </div>
  </div>
</section>
