<div class="about">
  <h1>About Me</h1>
  <div class="about-details">
    <p>Full-Stack Web Developer. I pride myself on my passion for education- and am constantly working to improve my skills. Currently working as a freelancer and Programming Bootcamp T.A. </p>
    <p> I run an Ethics and Eco Travel Blog, and spread my knowledge of programming on Medium. </p>
    <p> Prior to development, I had been a content creator for 4 years, writing and working my way across the world.</p>
    <p>My passion for travel led me into travel-writing. Through my enthusiam for education, I discovered web development</p>
    <ul>
      <li><a href="https://medium.com/@cassymyers" target="_blank"><i class="fab fa-medium fa-lg"></i>&nbsp;Away We Stray</a></li> &nbsp;
      <li></li>
      <li><a href="https://awaywestray.com" target="_blank"><i class="fas fa-paper-plane fa-lg"></i>&nbsp;Development Blog</a></li>
    </ul>
    <div class="responsive-images">
      <div class="row">
          <%= image_tag 'bali.jpg', class: "about-me-photos" %>
          <%= image_tag 'portugal.jpg', class: "about-me-photos" %>
      </div>
    </div>
  </div>
</div>
