
<div class="contact">
  <h1 style="margin-left: 20px">Contact Me</h1>
  <div class="contact-details">
    <p>I am available for hire and open to collaboration and partnerships</p>
    <div class="row">
      <div class="column-contact">
        <p>Email</p>
        <p>Linked In</p>
        <p>GitHub</p>
        <p>Facebook </p>
        <p>Travel Blog </p>
        <p>Programming Blog </p>
      </div>
      <div class="column">
        <p><a href="mailto:cassymyers@gmail.com" title="mail: cassymyers@gmail.com"> <i class="fas fa-envelope"></i>&ensp; cassymyers@gmail.com</a></p>
        <p><a href="https://www.linkedin.com/in/cassy-myers/"><i class="fab fa-linkedin"></i>&ensp; cassy-myers</p></a>
        <p><a href="https://github.com/cassysan"><i class="fab fa-github"></i>&ensp; cassysan</p></a>
        <p><a href="https://www.facebook.com/awaywestray/"><i class="fab fa-facebook-f"></i>&ensp; cassysan</a></p>
        <p><a href="http://awaywestray.com/"><i class="fas fa-globe"></i>&ensp; AwayWeStray</a> </p>
        <p><a href="https://medium.com/@cassymyers"><i class="fas fa-pencil-alt"></i>&ensp; Medium</a> </p>
      </div>
    </div>
  </div>
</div>

