<div class="banner" style="background-image: url(<%= image_path 'joshua-tree.jpg' %>)">
  <div class="banner-section">
    <div class="banner-text">
      <h1 class="banner-name">Hey, I'm <span class="highlight">Cassy</span></h1>
      <p>I'm a freelance web developer. I specialize in both <br><strong>front-end and back-end web development</strong> </p>
      <div class="banner-links">
        <%= link_to "Portfolio", projects_portfolio_index_path, class: "btn-lg banner-button button" %><br>
        <%= link_to "Skillset", skills_portfolio_index_path, class: "btn-lg banner-button button" %>
      </div>
    </div>
  </div>
</div>
