<div class="projects">
  <h1 style="margin-left: 20px">Projects</h1>


  <div class="project">
    <div class="project-text">
      <h2 class="project-title">Roll-Call</h2>
      <h3 class="project-subtitle">A tool for non-profits and NGOs to plan, schedule and manage all aspects of their course curriculum. </h3>
      <p class="project-description">Roll Call is a tool for non-profits and NGOs to plan, schedule and manage all aspects of their course curriculum. Program managers can schedule upcoming courses, manage volunteer and student communication, and drive business decisions through our advanced dashboard.
      </p>
      <a href="https://github.com/ymagoon/basa" class="button btn brand-primary">Check out on Github</a>
      <%= link_to "More Details", portfolio_index_path, class: "button btn brand-primary"  %>
      <ul class="tech-stack">
        <h5 class= "tech">Technologies</h5>
        <li> <a href="https://rubyonrails.org/" class="button btn-sm  brand-primary">Ruby on Rails</a> </li>
        <li> <a href="https://www.elastic.co/" class="button btn-sm  brand-primary" >Elastic Search</a> </li>
        <li> <a href="http://api.jquery.com/jquery.ajax/" class="button btn-sm  brand-primary">Ajax</a> </li>
        <li> <a href="https://www.chartjs.org/" class="button btn-sm  brand-primary">Chart JS Api</a> </li>
      </ul>
    </div>
    <div class="project-screenshot">
    <a href="http://roll-call-yuc.herokuapp.com/"><%= image_tag 'roll-call.png' %></a>
    </div>
  </div>
<br>




  <div class="project">
    <div class="project-text">
        <h2 class="project-title">Smarty Pants</h2>
        <h3 class="project-subtitle">An 'AirBnB-like' application created to support families by facilitating a marketplace for renting clothing and toys</h3>
      <p class="project-description"> Smarty-Pants is a web app designed to help families take advantage of gently used clothing and toys as their children grow. It is both a marketplace for families and another means of financing rapidly growing youth, as well as practicing environmental friendliness through the recycling process.
      </p>
      <a href="https://github.com/ymagoon/basa" class="button btn brand-primary">Check out on Github</a>
      <%= link_to "More Details", portfolio_index_path, class: "button btn brand-primary"  %>
      <h5 class= "tech">Technologies</h5>
      <ul class="tech-stack">
        <li> <a href="https://rubyonrails.org/" class="button btn-sm brand-primary">Ruby on Rails</a> </li>
        <li> <a href="https://www.elastic.co/" class="button btn-sm brand-primary" >Elastic Search</a> </li>
        <li> <a href="http://api.jquery.com/jquery.ajax/" class="button btn-sm  brand-primary">Ajax</a> </li>
      </ul>
    </div>
    <div class="project-screenshot">
      <a href="http://smartie-pants.herokuapp.com/"><%= image_tag 'smarty-pants.png' %></a>
    </div>
  </div>


</div>




