
  <div class="skills">
    <h1>My Skillset</h1>
  <div class="overview">
    <div class="skills-icons">
    <i class="fab fa-html5 fa-5x"></i><i class="fab fa-css3-alt fa-5x"></i><i class="fab fa-js fa-5x"></i><i class="fas fa-gem fa-5x"></i><i class="fas fa-database fa-5x"></i>
    </div>
    <p>I am a <strong>full-stack web developer</strong>.</p>
    <p>I have maintained, developed and launched multiple projects from scratch, carrying the development of its' back-end and front-end codebases.</p>
    <p>Feel free to ask me any questions. I can help you in your project in all from the UI mockups, back-end and front-end web development to fixing the design and installing & configuration of the application on staging/production enviroments.</p>
  </div>
  <div class="front-end">
    <h2><i class="fas fa-pencil-alt"></i>Front-End Web Development</h2>
  </div><div class="back-end">
    <h2><i class="fas fa-code"></i>Back-End Web Development</h2>
  </div>
  </div>

